* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";
}


/* FONT-FAMILY */

@font-face {
    font-family: "Open Sans";
    font-weight: 500 600;
    src: url(/assets/font/OpenSans-Regular.ttf);
}


/* PARTIE HEADER */

header {
    background: url(./images/mastehead.jpg) center / cover;
    background-repeat: no-repeat;
    height: 100vh;
}


/* IMAGE IPHONE */

.image-iphone {
    display: none;
}


/* PARTIE NAV */

header nav {
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

header nav h3 {
    color: white;
    padding: 3%;
}

header nav img {
    height: 3vh;
    margin-bottom: 15px;
}


/* PARTIE PREMIÈRE SECTION */

header .text-première-section {
    color: white;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 10%;
}


/* PARTIE START */

main .start {
    /* height: 70vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15% 5%;
}

main .start p {
    padding-top: 5%;
}


/* PARTIE MULTICOLOR */

main .multicolor {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1% 5%;
}

main .multicolor h2,
main .multicolor h5,
main .multicolor p {
    color: white;
}

main .multicolor .first-case .first-color {
    background: #F3989F;
    padding: 8%;
}

main .multicolor .first-case .first-color p,
main .multicolor .first-case .first-color h3 {
    padding-top: 5%;
}

main .multicolor .first-case .second-color {
    background: #5F5F80;
    padding: 8%;
}

main .multicolor .first-case .second-color p,
main .multicolor .first-case .second-color h3 {
    padding-top: 5%;
}

main .multicolor .first-case .third-color {
    background: url(./images/box-bg.jpg);
    background-size: 100%;
    padding: 8%;
}

main .multicolor .first-case .third-color p,
main .multicolor .first-case .third-color h3 {
    padding-top: 5%;
}

main .multicolor .second-case .fourth-color {
    background: url(./images/box-bg-lg.jpg) no-repeat;
    background-size: cover;
    padding: 8%;
}

main .multicolor .second-case .fourth-color p,
main .multicolor .second-case .fourth-color h3 {
    padding-top: 5%;
}

main .multicolor .second-case .fifth-color {
    background: #82C99E;
    padding: 8%;
}

main .multicolor .second-case .fifth-color p,
main .multicolor .second-case .fifth-color h3 {
    padding-top: 5%;
}


/* PARTIE DETAILS */

main .details {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

main .details h2 {
    font-size: 30px;
}

main .details .first-text-details {
    padding-top: 10%;
}

main .details .first-text-details p,
main .details .second-text-details p,
main .details .third-text-details p,
main .details .fourth-text-details p,
main .details .fifth-text-details p {
    padding-top: 10%;
}


/* PARTIE MORE POWER */

main .more-power {
    background: url(./images/full-image.jpg) no-repeat;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    padding-bottom: 20%;
}

main .more-power h1 {
    font-size: 50px;
}

main .more-power p {
    padding-top: 5%;
}

main .more-power .lien-svg {
    padding-top: 10%;
}

main .more-power .lien-svg a {
    fill: white;
    text-decoration: none;
    color: white;
}

main .more-power .lien-svg a .link {
    padding-top: 1%;
}


/* PARTIE REASONS */

main .reasons {
    background: #82C99E;
    color: white;
    padding: 5%
}

main .reasons h2 {
    font-size: 30px;
    padding-top: 20%;
}

main .reasons .first-text-reasons p {
    padding-top: 10%;
}

main .reasons .second-text-reasons p {
    padding-top: 10%;
}

main .reasons .third-text-reasons p {
    padding-top: 10%;
}


/* PARTIE BEFORE-LAST */

main .before-last {
    padding: 10%;
    display: flex;
    flex-direction: column;
}

.before-last .second-last {
    padding-top: 40%;
}

.before-last .first-last .first-button {
    background: #e2e1e4;
    font-size: 20px;
    border-radius: 7px;
    color: white;
}

.before-last .first-last .second-button {
    background: #7ecc9a;
    font-size: 20px;
    border-radius: 7px;
    color: white;
    margin-top: 20px;
}

.before-last .second-last .third-button {
    background: #bc8dc1;
    font-size: 20px;
    border-radius: 7px;
    color: white;
}

.before-last .second-last .fourth-button {
    background: #7ecc9a;
    font-size: 20px;
    border-radius: 7px;
    color: white;
    margin-top: 20px;
}

.before-last .first-last h2 {
    padding-top: 5%;
}

.before-last .first-last p {
    padding-top: 5%;
}

.before-last .first-last .first-last-icone {
    padding-top: 5%;
}

.before-last .second-last h2,
.before-last .second-last p {
    padding-top: 5%;
}

.before-last .second-last .second-last-icone {
    padding-top: 10%;
}


/* PARTIE FOOTER */

.footer {
    background: #172432;
    color: white;
    padding: 5%;
}

.footer .footer-paragraph {
    padding: 5%;
}

.footer .footer-paragraph p {
    padding-top: 5%;
}

.footer .formulaire {
    padding: 5%;
}

.footer .formulaire p {
    padding-bottom: 5%;
}

.footer .formulaire form input {
    width: 70%;
    padding: 4%;
}

.footer .formulaire form p {
    padding-top: 5%;
}

.footer .formulaire form button {
    padding: 6%;
    background: url(./images/tick.svg) green;
}

.footer .text-footer {
    padding: 5%;
    display: flex;
}


/* PARTIE RESPONSIVE TABLETTE IPAD */

@media screen and (min-width: 768px) and (max-width: 1112px) {
    /* PARTIE HEADER */
    header {
        background: url(./images/mastehead.jpg) center;
        background-repeat: no-repeat;
        height: 90vh;
    }
    header .text-première-section {
        height: 60vh;
        padding-left: 15%;
    }
    header .text-première-section h1 {
        font-size: 50px;
    }
    header .text-première-section p {
        line-height: 20px;
    }
    /* --------------------------------------------------- */
    /* PARTIE START */
    main .start .start2 {
        height: 50vh;
        width: 100%;
        display: flex;
    }
    main .start .start2 .start3 {
        display: flex;
        justify-content: center;
        width: 120vh;
    }
    main .start .start2 .start4 {
        padding-left: 5%;
        padding-top: 15%;
    }
    /* ------------------------------------------------ */
    /* PARTIE MULTICOLOR */
    main .multicolor .first-case {
        display: flex;
        flex-wrap: wrap;
        padding-top: 10%;
    }
    main .multicolor .first-color {
        width: 50%;
    }
    main .multicolor .second-color {
        width: 50%;
    }
    main .multicolor .third-color {
        width: 50%;
    }
    main .multicolor .fourth-color {
        width: 50%;
        position: relative;
        left: 345px;
        bottom: 246px;
    }
    main .multicolor .fifth-color {
        width: 100%;
        position: relative;
        bottom: 246px;
    }
    /* -------------------------------------------------- */
    /* PARTIE DETAILS */
    main .details {
        margin-top: -20vh;
    }
    main .details .first-text-details {
        width: 30vh;
    }
    main .details .second-text-details {
        width: 30vh;
        position: relative;
        left: 35vh;
        bottom: 23vh;
    }
    main .details .third-text-details {
        width: 30vh;
        position: relative;
        bottom: 20vh;
    }
    main .details .fourth-text-details {
        width: 30vh;
        position: relative;
        left: 35vh;
        bottom: 43vh;
    }
    /* -------------------------------------------------- */
    /* PARTIE MORE POWER */
    main .more-power {
        position: relative;
        bottom: 35vh;
    }
    /* -------------------------------------------------- */
    /* PARTIE REASONS */
    main .reasons {
        height: 60vh;
        margin-top: -50vh;
    }
    main .reasons .first-text-reasons {
        width: 20vh;
    }
    main .reasons .second-text-reasons {
        width: 20vh;
        position: relative;
        left: 23vh;
        bottom: 30vh;
    }
    main .reasons .third-text-reasons {
        width: 20vh;
        position: relative;
        left: 47vh;
        bottom: 60vh;
    }
    /* -------------------------------------------------- */
    /* PARTIE BEFORE-LAST */
    main .before-last {
        height: 50vh;
        padding: 10%;
    }
    main .before-last .first-last {
        width: 25vh;
    }
    main .before-last .second-last {
        width: 25vh;
        position: relative;
        left: 37vh;
        bottom: 58vh;
    }
    /* -------------------------------------------------- */
    /* PARTIE FOOTER */
    .footer .text-footer {
        padding: 5%;
        display: flex;
        justify-content: space-around;
    }
}


/* PARTIE RESPONSIVE DESKTOP */

@media screen and (min-width: 1024px) {
    /* IMAGE IPHONE */
    .image-iphone {
        display: block;
        position: absolute;
        left: 100vh;
        top: 25vh;
        height: 100vh;
    }
    /* --------------------------------------------------- */
    /* PARTIE HEADER */
    header .text-première-section {
        padding-left: 20%;
        padding-bottom: 15%;
    }
    header .text-première-section h1 {
        font-size: 50px;
    }
    header .text-première-section h1 br {
        display: none;
    }
    header .text-première-section p .ligne {
        display: none;
    }
    /* --------------------------------------------------- */
    /* PARTIE NAV */
    header nav h3 {
        color: white;
        position: relative;
        bottom: 115px;
        right: 30px;
    }
    header nav img {
        margin-bottom: 160px;
    }
    /* --------------------------------------------------- */
    /* PARTIE START */
    main .start {
        padding: 10%;
        margin-bottom: -30vh;
    }
    main .start h2 {
        font-size: 40px;
    }
    main .start .start2 {
        width: 100%;
        display: flex;
    }
    main .start .start2 .start3 {
        width: 300vh;
    }
    main .start .start2 .start4 {
        padding-left: 5%;
        padding-top: 10%;
    }
    /* ------------------------------------------------ */
    /* PARTIE MULTICOLOR */
    main .multicolor {
        padding: 10%;
        margin-bottom: -20vh;
    }
    main .multicolor .first-case {
        display: flex;
    }
    main .multicolor .second-case {
        display: flex;
    }
    main .multicolor .first-color {
        width: 33.33%;
    }
    main .multicolor .second-color {
        width: 33.33%;
    }
    main .multicolor .third-color {
        width: 33.34%;
    }
    main .multicolor .fourth-color {
        width: 66.67%;
    }
    main .multicolor .fifth-color {
        width: 33.33%;
    }
    /* -------------------------------------------------- */
    /* PARTIE DETAILS */
    main .details {
        padding: 10%;
        margin-bottom: -700px;
    }
    main .details h2 {
        margin-top: -10vh;
        margin-bottom: -15vh;
    }
    main .details .first-text-details {
        width: 40vh;
    }
    main .details .second-text-details {
        width: 40vh;
        position: relative;
        left: 42vh;
        bottom: 33vh;
    }
    main .details .third-text-details {
        width: 40vh;
        position: relative;
        left: 85vh;
        bottom: 66vh;
    }
    main .details .fourth-text-details {
        width: 40vh;
        position: relative;
        left: 126vh;
        bottom: 99vh;
    }
    /* -------------------------------------------------- */
    /* PARTIE MORE POWER */
    .ligne {
        /* passage à la ligne "br" */
        display: none;
    }
    .more-power h1 {
        padding-left: 20%;
        margin-bottom: -10vh;
    }
    .more-power p {
        width: 100vh;
        padding-left: 20%;
        margin-bottom: -18vh;
    }
    .more-power .lien-svg {
        padding-left: 20%;
        margin-bottom: -70vh;
    }
    /* -------------------------------------------------- */
    /* PARTIE REASONS */
    main .reasons {
        height: 70vh;
        padding: 10%;
    }
    main .reasons h2 {
        position: relative;
        bottom: 40vh;
    }
    main .reasons .first-text-reasons {
        width: 50vh;
        position: relative;
        bottom: 40vh;
    }
    main .reasons .second-text-reasons {
        width: 50vh;
        position: relative;
        left: 57vh;
        bottom: 72vh;
    }
    main .reasons .third-text-reasons {
        width: 50vh;
        position: relative;
        left: 113vh;
        bottom: 104vh;
    }
    /* -------------------------------------------------- */
    /* PARTIE BEFORE-LAST */
    main .before-last {
        padding: 15%;
        height: 90vh;
    }
    main .before-last .first-last {
        width: 60vh;
    }
    main .before-last .second-last {
        width: 60vh;
        position: relative;
        left: 84vh;
        bottom: 103vh;
    }
}