* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* FONT-FAMILY */

@font-face {
    font-family: "Open Sans";
    font-weight: 500 600;
    src: url(/assets/font/OpenSans-Regular.ttf);
}


/* PARTIE HEADER */

header {
    background: url(./images/mastehead.jpg) center;
    background-repeat: no-repeat;
    height: 100vh;
}


/* PARTIE NAV */

header nav {
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

header nav h3 {
    color: white;
    padding: 10px;
    margin: 0;
}

header nav img {
    height: 2vh;
    margin-bottom: 15px;
}


/* PARTIE PREMIÈRE SECTION */

header .text-première-section {
    color: white;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 10%;
}


/* PARTIE START */

main .start {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10%;
    padding-top: 20%;
}

main .start p {
    padding-top: 5%;
}


/* PARTIE MULTICOLOR */

main .multicolor {
    height: 170vh;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5%;
}

main .multicolor h2,
main .multicolor h3,
main .multicolor p {
    color: white;
}

main .multicolor .first-color {
    background: #F3989F;
    height: 30vh;
    padding: 8%;
}

main .multicolor .first-color p,
main .multicolor .first-color h3 {
    padding-top: 5%;
}

main .multicolor .second-color {
    background: #5F5F80;
    height: 30vh;
    padding: 8%;
}

main .multicolor .second-color p,
main .multicolor .second-color h3 {
    padding-top: 5%;
}

main .multicolor .third-color {
    background: url(./images/box-bg.jpg);
    background-size: 100%;
    height: 30vh;
    padding: 8%;
}

main .multicolor .third-color p,
main .multicolor .third-color h3 {
    padding-top: 5%;
}

main .multicolor .fourth-color {
    background: url(./images/box-bg-lg.jpg);
    height: 30vh;
    padding: 8%;
}

main .multicolor .fourth-color p,
main .multicolor .fourth-color h3 {
    padding-top: 5%;
}

main .multicolor .fifth-color {
    background: #82C99E;
    height: 30vh;
    padding: 8%;
}

main .multicolor .fifth-color p,
main .multicolor .fifth-color h3 {
    padding-top: 5%;
}


/* PARTIE DETAILS */

main .details {
    height: 180vh;
    display: flex;
    flex-direction: column;
    padding: 5%;
}

main .details h2 {
    font-size: 30px;
}

main .details .first-text-details {
    padding-top: 10%;
}

main .details .first-text-details p,
main .details .second-text-details p,
main .details .third-text-details p,
main .details .fourth-text-details p,
main .details .fifth-text-details p {
    padding-top: 10%;
}


/* PARTIE MORE POWER */

main .more-power {
    background: url(./images/full-image.jpg) no-repeat;
    height: 130vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    padding-bottom: 20%;
}

main .more-power h1 {
    font-size: 50px;
}

main .more-power p {
    padding-top: 5%;
}

main .more-power .lien-svg {
    padding-top: 10%;
}

main .more-power .lien-svg a {
    fill: white;
    text-decoration: none;
    color: white;
}

main .more-power .lien-svg a .link {
    padding-top: 1%;
}


/* PARTIE REASONS */

main .reasons {
    height: 130vh;
    background: #82C99E;
    color: white;
    padding: 5%
}

main .reasons h2 {
    font-size: 30px;
    padding-top: 20%;
}

main .reasons .first-text-reasons p {
    padding-top: 10%;
}


/* PARTIE BEFORE-LAST */

main .before-last {
    height: 150vh;
    padding: 10%;
    display: flex;
    flex-direction: column;
}

.before-last .second-last {
    padding-top: 40%;
}

.before-last .first-last .first-button {
    background: #e2e1e4;
    font-size: 20px;
    border-radius: 7px;
    color: white;
}

.before-last .first-last .second-button {
    background: #7ecc9a;
    font-size: 20px;
    border-radius: 7px;
    color: white;
    margin-top: 20px;
}

.before-last .second-last .third-button {
    background: #bc8dc1;
    font-size: 20px;
    border-radius: 7px;
    color: white;
}

.before-last .second-last .fourth-button {
    background: #7ecc9a;
    font-size: 20px;
    border-radius: 7px;
    color: white;
    margin-top: 20px;
}

.before-last .first-last h2 {
    padding-top: 5%;
}

.before-last .first-last p {
    padding-top: 5%;
}

.before-last .first-last .first-last-icone {
    padding-top: 5%;
}

.before-last .second-last h2,
.before-last .second-last p {
    padding-top: 5%;
}

.before-last .second-last .second-last-icone {
    padding-top: 10%;
}


/* PARTIE FOOTER */

.footer-first {
    border: blue 5px solid;
    height: 120vh;
}