* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}


/* PARTIE HEADER */

header {
    background: url(./images/mastehead.jpg) center;
    background-repeat: no-repeat;
    height: 100vh;
}


/* PARTIE NAV */

header nav {
    padding: 10px;
    display: flex;
    align-items: flex-end;
}

header nav h3 {
    color: white;
    padding: 10px;
    margin: 0;
}

header nav img {
    height: 2vh;
    margin-bottom: 15px;
}


/* PARTIE CONTAINER 1 */

header .text-première-section {
    color: white;
    height: 80vh;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 10%;
}


/* PARTIE START */

main .start {
    background: green;
}


/* PARTIE MULTICOLOR */

main .multicolor {
    background: red;
}


/* PARTIE DETAILS */

main .details {
    background: yellow;
}


/* PARTIE MORE POWER */

main .more-power {
    background: url(./images/full-image.jpg);
}


/* PARTIE REASONS */

main .reasons {
    background: violet;
}